div#container-afficher-projet{
    display: flex;
    flex-direction: column;
}

.titre{
    font-weight: 900;
    font-size: xx-large;
    margin: 2rem;
}

.flex-row-wrap{
    display: flex;
    flex-flow: row wrap;
}

.solid-border{
    border: solid 1px black;
}

.espacement{
    margin: 0.5rem 1rem;
}

.flex-center{
    display: flex;
    justify-content: center;
}

div#creer-klass{
    height: 5rem;
    flex: 0 0 11rem;
    align-items: center;
    border: solid 1px black;
}

div#creer-klass:hover{
    background-color: lightblue;
}