div#container-creer-projet{
    display: flex;
    flex-direction: column;
}

.espacement{
    padding: 0.5rem;
}

div#titre-container{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    align-items: center;
    margin-bottom: 2rem;
}

div#formulaire{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
    border: 1px solid;
}

div#unite-formulaire{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

div#unite-logique{
    display: flex;
    justify-content: flex-end;
}
.largeur{
    width: 30rem;
}