div#container-liste-projets{
    display: flex;
    justify-content: space-evenly;
}

div#unite-projet{
    border: solid 1px black;
    width: 15rem;
    height: 2.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}