<div id="container-klass-afficheur" (mouseover)="afficherOngletAModifier()" (mouseleave)="enleverOngletAModifier()">
    <div class="logique" *ngIf="aModifier">
        <div class="a-modifier" (click)="navVersModifierKlass()">modifier</div>
        <div class="a-supprimer" (click)="supprimerKlass()">supprimer</div>
    </div>
    
    <div class="flex-center" id="nom-klass">{{klass.nom}}</div>
    <div id="items">
        <div *ngFor="let r of klass.listeResponsabilites" class="mise-en-form-items espacement" id="responsabilites">
            <p>{{r.titre}}</p>
        </div>
        <div *ngIf="miseEnFormCollaborateurs()" class="mise-en-form-items espacement" id="collaborateurs">
            <span>{{miseEnFormCollaborateurs()}}</span>
        </div>
    </div>
</div>