div#items{
    display: flex;
    justify-content: space-evenly;
    width: inherit;
}

div#responsabilites{
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    
}

div#collaborateurs{
    width: 28%;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.mise-en-form-items{
    padding: 1%;
    box-sizing: border-box;
    border: solid black 1px;
}

div.flex-center{
    display: flex;
    justify-content: center;
}

div.espacement{
    margin: 0.5rem;
}

div.logique{
    display: flex;
}

div.a-modifier{
    margin-right: auto;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    background-color: rgb(72, 72, 243);
}

div.a-supprimer{
    margin-left: auto;
    flex: 1 1 0;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
}
